<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/index.css" rel="stylesheet" type="text/css" />
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/channel.js" type="text/javascript"></script>
	<script src="js/splittable-file.js" type="text/javascript"></script>
	<script src="js/index.js" type="text/javascript"></script>
	<title>WebRTC</title>
</head>
<body>
	<ul class="files-wrap">
		<li class="file" draggable="true">
			<div class="file-inner-wrap">
			</div>
		</li>
		<li class="file">
		</li>
		<li class="file">
		</li>
		<li class="file">
		</li>
	</ul>
	<div class="wrap" id="drop">
	</div>
	<div class="handle" id="handle" draggable="true">
	</div>
</body>
</html>